::selection {
    background-color: blue;;
    color: white;
}

h1, h2 {
    font-family: "Bebas Neue", 'Oswald';
    font-weight: lighter;
    font-size: xx-large;
}

header h1 {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    border-radius: 1em;
    border: solid;
}

header figure figcaption{
    background-color: darkblue;
    color: aliceblue;
    border: 2px dotted lightblue;
    text-align: center;
    width: 4em 2em;
    height: 2em 5em;
}

h2 {
    color: blueviolet;
    text-align: center;
    border-bottom: 0.1rem solid black;
    background-color: aliceblue;
    padding: 10px;
}

h1 {
    background-color: azure;
    text-align: center;
    border-radius: 1em;
    border: solid;
}

#WebComms {
    background-color: ghostwhite;
    border-left: solid brown;
    border-width: 4px;
    border-radius: 3em;
    padding: 0.5em 1em 0.5em;
}

#DigitalMedia {
    background-color: beige;
    border-left: solid brown;
    border-width: 4px;
    border-radius: 3em;
    padding: 0.5em 1em 0.5em;
}

#VisualDesign {
    background-color: antiquewhite;
    border-left: solid brown;
    border-width: 4px;
    border-radius: 3em;
    padding: 0.5em 1em 0.5em;
}

#ProfessionalEmail {
    background-color: beige;
    border-top: solid brown;
    border-width: 6px;
    border-radius: 1em;
    padding: 0.5em 1em;
}

#ScriptMaking {
    background-color: lightcyan;
    border-top: solid darkred;
    border-width: 6px;
    border-radius: 1em;
    padding: 0.5em 1em;
}

#PersonalGraphic {
    background-color: aliceblue;
    border-top: solid darkmagenta;
    border-width: 6px;
    border-radius: 1em;
    padding: 0.5em 1em;
}

table thead th {
    background-color: azure;
    padding: 2em;
}

 table thead th a {
    border-radius: 4em;
    border: dashed burlywood;
    padding: 1em;
    text-decoration: none;
}

header figure img {
    padding-left: 5em;
    padding-top: 0.5px;
}

a:hover {
    background-color: rgb(161, 230, 43);
}

footer {
    background-color: rgb(240, 240, 178);
    font-style: italic;
    padding: 10px 5px 4px;
    border: 2px solid black;
}